<head>
    <title>Moonlight</title>
</head>
<body>
    <main>
        <div class="luchpuk">
            <div class="people">
                <h5>Чингиз Хан, Тимучин</h5>
                <img src="/public/img/Chingiz Khan.png">
            </div>
            <div class="conquest">
                <h5>Завоевание</h5>
                <img src="/public/img/Mongol empire.png">
            </div>
            <div class="history">
                <h5>История</h5>
                <p>Великий хан Монгольской империи, объединивший разрозненные монгольские и тюркские племена; полководец, организовавший завоевательные походы монголов в Китай, Среднюю Азию, Ближний Восток (в большей части на территории современного Ирана), на Кавказ и в Восточную Европу. Основатель самой крупной в истории человечества континентальной империи.</p>
            </div>
        </div>
        <div class="luchpuk">
            <div class="people">
                <h5>Тамерлан</h5>
                <img src="/public/img/Amir Timur.png">
            </div>
            <div class="conquest">
                <h5>Завоевание</h5>
                <img src="/public/img/Timur empire.png">
            </div>
            <div class="history">
                <h5>История</h5>
                <p>Непобедимый полководец, широко известен как один из величайших военачальников и тактиков в истории, а также как один из самых жестоких. Также считается великим покровителем искусства и архитектуры, общался с такими интеллектуалами, как Ибн Халдун, Хафез и Хафиз-и Абру, и его правление положило начало тимуридскому Возрождению.</p>
            </div>
            <div class="luchpuk">
            <div class="people">
                <h5>Александр Македонский,Зульхарнайн</h5>
                <img src="/public/img/Alexsander Makedonian.png">
            </div>
            <div class="conquest">
                <h5>Завоевание</h5>
                <img src="/public/img/Macedonian empire.png" >
            </div>
            <div class="history">
                <h5>Алекса́ндр Македо́нский (Александр III Великий, др.-греч. Ἀλέξανδρος Γ' ὁ Μέγας; предположительно 20/23 июля или 6/10 октября 356 года до н. э., Пелла — 10 или 13 июня 323 года до н. э., Вавилон) — царь Македонии из династии Аргеадов (с 336 года до н. э.), выдающийся полководец, создатель мировой державы, распавшейся после его смерти.</h5>
            </div>
            </div>
        </div>
    </main>
</body>