<head>
    <title>Moonlight</title>
</head>
<body>
    <main>
        <div class="luchpuk">
            <div class="people">
                <h5>Чингиз Хан, Тимучин</h5>
                <img src="/public/img/Chingiz Khan.png">
            </div>
            <div class="conquest">
                <h5>Завоевание</h5>
                <img src="/public/img/Mongol empire.png">
            </div>
            <div class="history">
                <h5>История</h5>
                 Великий хан Монгольской империи, объединивший разрозненные монгольские и тюркские племена; полководец, организовавший завоевательные походы монголов в Китай, Среднюю Азию, Ближний Восток (в большей части на территории современного Ирана), на Кавказ и в Восточную Европу. Основатель самой крупной в истории человечества континентальной империи.

            </div>
        </div>
    </main>
</body>